<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoulLive"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".verify_result_go.VerifyResultDetailActivity4"
            android:exported="false" />
        <activity
            android:name=".verify_result_go.VerifyResultDetailActivity3"
            android:exported="false" />
        <activity
            android:name=".verify_result_go.VerifyResultDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".verify_result_go.VerifyResultDetailActivity1"
            android:exported="false" />
        <activity
            android:name=".verify_result_go.VerifyResultActivity1"
            android:exported="false" />
        <activity
            android:name=".verify.GuideVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".verify.DoVerifyActivity1"
            android:exported="true" />
        <activity
            android:name=".verify.DoVerifyActivity2"
            android:exported="true" />
        <activity
            android:name=".search.SearchModelActivity"
            android:exported="true" />
        <activity
            android:name=".home.ModelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeAiModelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingDoneActivity"
            android:exported="true" />
        <activity
            android:name=".onboarding.OnboardingEmailActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_app_key2" />
            </intent-filter>
        </activity>
    </application>

</manifest>